@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Courier+Prime&display=swap');

.wrapper {
    min-height: 30vh;
    color: #000;
    font-size: 1rem;
    background-color: #EDEDED;
    display: -ms-grid;
    display: grid;
    place-items: center;
}

.container {
    background-color: #fff;
    padding: 1em;
    border-radius: 1em;
    max-width: 768px;
    display: -ms-grid;
    display: grid;
    place-items: center;
    -webkit-box-shadow: 0px 17px 34px -20px #F1D18A;
    box-shadow: 0px 17px 34px -20px #F1D18A;
}

.suscribe {

    display: -ms-grid;
    display: grid;
    place-items: center;
    padding: 0 2em;
    margin-bottom: 1.8em;

    h1,
    h2 {
        font-family: 'Carter One', cursive;
        font-size: 1.5rem;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 0.5em;
    }

    h2 {
        font-size: 1rem;
    }
}

.suscribemail {
    font-family: 'Carter One', cursive;
    padding: 1em 0 0.5em 1.5em;
    line-height: 3;
    width: 100%;
    border: 1px solid #d9d9d9;
    border-radius: 0.5em;
    margin-bottom: 1em;
}

.suscribemail:focus {
    outline: none !important;
    border-color: #F1D18A;
    box-shadow: 0 0 10px #F1D18A;
}

.buttonsuscribe {
    background-color: #f2e1bd;
    border-radius: 12px;
    color: #232931;
    font-family:'Carter One', cursive;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 15px;
    text-align: center;
    transition: 200ms;
    width: 100%;
    box-sizing: border-box;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.buttonsuscribe:not(:disabled):hover,
.buttonsuscribe:not(:disabled):focus {
  outline: 0;
  background: #F1D18A;
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.buttonsuscribe:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}
